# Base de données MongoDB
DATABASE_URL="mongodb://localhost:27017/jbfsport"

# JWT Secret (changez cette valeur pour la production)
JWT_SECRET="votre-secret-jwt-super-securise-changez-le-pour-production"

# Cloudinary (pour la gestion des images)
CLOUDINARY_CLOUD_NAME="votre-cloud-name"
CLOUDINARY_API_KEY="votre-api-key"
CLOUDINARY_API_SECRET="votre-api-secret"

# Email (pour les notifications de contact avec privateemail)
SMTP_HOST="mail.privateemail.com"
SMTP_PORT="587"
SMTP_USER="votre-email@votredomaine.com"
SMTP_PASS="votre-mot-de-passe"
ADMIN_EMAIL="admin@votredomaine.com"

# URL du site (pour la production)
NEXTAUTH_URL="http://localhost:3000" 